NAME: FORWARDER_NAME
IMAGES: telkomindonesia/alpine:socat-1.7
PROJECT: PROJECT_NAMESPACE
MEMORY_LIMIT: 128Mi
MEMORY_REQUEST: 128Mi
CPU_REQUEST: 100m
CPU_LIMIT: 100m
REPLICATION: 1
ENV: "true"
NODE:
SECRET_NAME: SECRET_NAME_SVC
REGISTRY_SECRET_NAME: registry
PORT1: 9094
PORT2: 9095
PORT3: 9096
STATUS: "present"
